---
import BaseLayout from "./BaseLayout.astro"
import { readableDate } from "../lib/utils/date.ts";
const { frontmatter } = Astro.props;
---

<BaseLayout>
    <h1 class="font-bold text-3xl text-center my-3">
        {frontmatter.title}
    </h1>
    <p>
        <span class="font-bold">Published: </span>
        {readableDate(new Date(frontmatter.created_at))}
    </p>
    <p>
        <span class="font-bold">Last edit: </span>
        {readableDate(new Date(frontmatter.last_updated_at))}
    </p>
    <div class="flex flex-row space-x-4 my-3">
        {frontmatter.tags.map((tag: any) =>
            <p class="px-2 py-1 bg-violet-800 rounded-lg">
                {tag}
            </p>
        )}
    </div>
    <slot />
    <div class="mt-10"/>
</BaseLayout>

<style is:inline>
    .katex-display {
        display: flex;
        align-items: center;
        overflow-x: auto;
        max-width: 100%;
        padding-bottom: 0.5rem;
    }
    
    .katex-display > .katex {
        flex-grow: 1;
    }

    .expressive-code {
        margin-block: 0.5rem;

    }
</style>
